PuzzleScanner/PuzzleScanner/bin/
PuzzleScanner/PuzzleScanner/obj/
PuzzleScanner/.vs
PuzzleScanner/packages/
SolverVisualizer/SolverVisualizer/bin/
SolverVisualizer/SolverVisualizer/obj/
SolverVisualizer/packages/
SolverVisualizer/.vs
MarkLearner/negs/
MarkLearner/vecs/
/CameraCalibrator
