PuzzleScanner/PuzzleScanner/bin/
PuzzleScanner/PuzzleScanner/obj/
PuzzleScanner/packages/
SolverVisualizer/SolverVisualizer/bin/
SolverVisualizer/SolverVisualizer/obj/
SolverVisualizer/packages/
MarkLearner/negs/
MarkLearner/vecs/
/PuzzleScanner/.vs/PuzzleScanner/v15
/PuzzleScanner/.vs/PuzzleScanner/v15/.suo
